.pagination{
    background: none;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
    color: snow;
}
.colorBlack{
    color: black;
}
.colorSnow{
    color: snow;
}
.btn5 {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 15px 15px 0;
    outline: none;
    border: none;
    border-radius: 6px;
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    /*color: snow;*/
    background-color: #666;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
}
.btn5:focus-visible {
    box-shadow: 0 0 0 2px #666;
}
.btn5:hover {
    background-color: #0f5265;
}
.btn5:active {
    transform: scale(0.96);
}
.btn5:disabled {
    pointer-events: none;
    opacity: 0.65;
}
