.simple {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 450px;
    width: 100%;
    flex-direction: column;
}

.colorSnow {
    color: snow;
}

.colorBlack {
    color: black;
    font-weight: 600
}

.title1 {
    font-family: system-ui;
    font-size: 50px;
    margin-bottom: 25px;
    font-weight: 500
}

.title2 {
    font-family: system-ui;
    font-size: 30px;
}

.view {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;

}
