.movies {
    background: black;
    width: 100%;
    color: snow;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.linkGenres {
    width: 300px;
    color: snow;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    padding-bottom: 15px;
    padding-top: 15px;

}

.moviesText {
    display: flex;
    justify-content: center;
    font-size: 29px;
    font-family: cursive;
    padding-top: 10px;
    padding-bottom: 30px;
}
.center{
    display: flex;
    justify-content: center;
}
