.movies{
    background: black;
    width: 100%;
    color: snow;
}

        .linkGenres{
            width: 100%;
            color: snow;
            text-decoration: none;
            font-size: 20px;
            display: flex;
            justify-content: center;
            font-family: cursive;
            padding-bottom: 15px;
            padding-top: 15px;

        }
