.moviesForm{
    width: 370px;
    height: 200px;
    display: flex;
    border: 1px solid black;
    border-radius: 50px;
    text-decoration: none;
    color: snow;
    background: #2a2a2a;
}
.moviesForm:hover{
    background: radial-gradient(ellipse at bottom, #87e0fd 0%,#01262b 55%);
}
.title{
    font-size: 16px;
    width: 80%;
    font-family: sans-serif;
}
.title:hover{
    text-shadow: 3px 5px 6px white, -6px -7px 6px #f1ffff;
}
.text{
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 30px;
    width: 230px;
    padding-left: 15px;
    column-gap: 14px;
    row-gap: 10px;
}

.image{
    padding-top: 24px;
    padding-left: 18px;

}
.overview:hover{
    text-shadow: 3px 5px 6px white, -6px -7px 6px #f1ffff;
}
.overview{
    margin: 0; /* Убираем внешний отступ */
    -webkit-line-clamp: 3; /* Число отображаемых строк */
    display: -webkit-box; /* Включаем флексбоксы */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
    overflow: hidden;
    width: 225px;
    font-size: 15px;
}
